@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #ffc343;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--header-font);
  color: #fff;
}

input {
  font-family: var(--header-font);
  color: #fff;
}

.container {
  background-image: url(../images/loginPictures.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__form {
  width: 100%;
  max-width: 420px;
  padding: 4rem 3rem;
  margin: 1rem;
  backdrop-filter: blur(8px);
  border: 2px solid #fff;
  border-radius: 1.5rem;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: show 0.5s linear forwards;
}

@keyframes show {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input__row {
  font-size: 1rem;
  text-align: left;
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  border-bottom: 2px solid white;
  padding: 2px 0;
}

.login__form h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

.input__group {
  width: 100%;
  position: relative;
  isolation: isolate;
}

.input__group input {
  outline: none;
  background: none;
  border: none;
  width: 100%;
}

.input__group label {
  position: absolute;
  left: 0;
  transition: 0.5s;
  pointer-events: none;
}

.input__group input:not(:placeholder-shown) ~ label,
.input__group input:focus ~ label {
  font-size: 0.7rem;
  top: -1.25rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 1000;
}

.login__btn {
  width: 100%;
  padding: 10px;
  margin: 2rem 0;
  font-size: 1rem;
  color: var(--primary-color);
  border-color: transparent;
  border-radius: 7px;
  font-size: 1.1rem;
}
